; Wayfinder item placement location service.

[General]
enabled = false
url = "https://wayfinder-rewriter.stg.easyscreen.io/wayfinder-link"
; Data sources that are enabled:
sources[] = "vanamo"
;sources[] = "another"